a{text-decoration:none;}
a:active{outline:none}
a:hover{outline:none;text-decoration:underline}
.left{float:left}
.right{float:right}
.clearer{overflow:hidden;width:100%}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.tar{text-align:right}
.tac{text-align:center}
.alignleft{display:inline;margin:0 10px 3px 0;float:left}
.alignright{display:inline;margin:0 0 3px 10px;float:right}
.aligncenter{display:block;margin-left:auto;margin-right:auto}
.img-rpl{overflow:hidden;text-indent:100%;white-space:nowrap}
.oculto{display:none}
.invisible{visibility:hidden}
.mitad{width:47%}
.ttu{text-transform:uppercase}
.sombra{-webkit-box-shadow:0 0 3px #7a7a7a;-moz-box-shadow:0 0 3px #7a7a7a;-ms-box-shadow:0 0 3px #7a7a7a;-o-box-shadow:0 0 3px #7a7a7a;box-shadow:0 0 3px #7a7a7a}
.curva{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}
.curva-si{-webkit-border-top-left-radius:4px;-moz-border-top-left-radius:4px;-ms-border-top-left-radius:4px;-o-border-top-left-radius:4px;border-top-left-radius:4px}
.curva-sd{-webkit-border-top-right-radius:4px;-moz-border-top-right-radius:4px;-ms-border-top-right-radius:4px;-o-border-top-right-radius:4px;border-top-right-radius:4px}
.curva-ii{-webkit-border-bottom-left-radius:4px;-moz-border-bottom-left-radius:4px;-ms-border-bottom-left-radius:4px;-o-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.curva-id{-webkit-border-bottom-right-radius:4px;-moz-border-bottom-right-radius:4px;-ms-border-bottom-right-radius:4px;-o-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.curva-sup{-webkit-border-top-right-radius:4px;-moz-border-top-right-radius:4px;-ms-border-top-right-radius:4px;-o-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-top-left-radius:4px;-moz-border-top-left-radius:4px;-ms-border-top-left-radius:4px;-o-border-top-left-radius:4px;border-top-left-radius:4px}
.curva-inf{-webkit-border-bottom-left-radius:4px;-moz-border-bottom-left-radius:4px;-ms-border-bottom-left-radius:4px;-o-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-bottom-right-radius:4px;-ms-border-bottom-right-radius:4px;-o-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.curva-izq{-webkit-border-top-left-radius:4px;-moz-border-top-left-radius:4px;-ms-border-top-left-radius:4px;-o-border-top-left-radius:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-bottom-left-radius:4px;-ms-border-bottom-left-radius:4px;-o-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.curva-der{-webkit-border-top-right-radius:4px;-moz-border-top-right-radius:4px;-ms-border-top-right-radius:4px;-o-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-bottom-right-radius:4px;-ms-border-bottom-right-radius:4px;-o-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.lh{margin:0;padding:0;}
.lh li{display:inline-block;list-style:none;*display:inline;zoom:1}
[class^="icono-"],[class*="icono-"]{display:inline-block;width:16px;height:16px;background:url("../img/sprite-iconos.png") no-repeat;line-height:16px;vertical-align:text-top;margin-top:-1px}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
:focus{outline:none}
.nonborderbox *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;box-sizing:content-box}
