a{text-decoration:none;}
a:active{outline:none}
a:hover{outline:none;text-decoration:underline}
.left{float:left}
.right{float:right}
.clearer{overflow:hidden;width:100%}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.tar{text-align:right}
.tac{text-align:center}
img.alignleft{display:inline;margin:0 10px 3px 0}
img.alignright{display:inline;margin:0 0 3px 10px}
img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.img-rpl{overflow:hidden;text-indent:100%;white-space:nowrap}
.oculto{display:none}
.mitad{width:47%}
.ttu{text-transform:uppercase}
.sombra{-webkit-box-shadow:0 0 3px #7a7a7a;-moz-box-shadow:0 0 3px #7a7a7a;-ms-box-shadow:0 0 3px #7a7a7a;-o-box-shadow:0 0 3px #7a7a7a;box-shadow:0 0 3px #7a7a7a}
.curva{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}
[class^="icono-"],[class*="icono-"]{display:inline-block;width:16px;height:16px;background:url("../img/sprite-iconos.png") no-repeat;line-height:16px;vertical-align:text-top;margin-top:-1px}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
.boton{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;border:1px solid #ccc;border:none;-webkit-box-shadow:1px 1px 2px #535353;-moz-box-shadow:1px 1px 2px #535353;-ms-box-shadow:1px 1px 2px #535353;-o-box-shadow:1px 1px 2px #535353;box-shadow:1px 1px 2px #535353;display:inline-block;line-height:20px;padding:4px 12px;background-color:#19a6df;background-image:-webkit-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:-moz-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:-ms-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:-o-linear-gradient(top,#19a6df 0%,#0a4aac 100%);background-image:linear-gradient(top,#19a6df 0%,#0a4aac 100%);font-weight:bold;color:#fff;cursor:pointer;vertical-align:middle;text-shadow:1px 1px 1px #444;}
.boton:hover{text-decoration:none}
.boton:active{position:relative;top:1px}
.boton.disabled{background:#19a6df;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;cursor:default;text-shadow:none;}
.boton.disabled:active{top:0}
.boton-grande{-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;-o-border-radius:6px;border-radius:6px;padding:9px 26px;font-size:18px}
.boton-naranja{background-color:#f0b13f;background-image:-webkit-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:-moz-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:-ms-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:-o-linear-gradient(top,#f0b13f 0%,#ce411b 100%);background-image:linear-gradient(top,#f0b13f 0%,#ce411b 100%)}
