vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

transform-origin()
	vendor('transform-origin', arguments)

user-select()
	vendor('user-select', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

.boton
	border-radius(4px)
	border 1px solid #ccc
	border none
	box-shadow(1px 1px 2px #535353)
	display inline-block
	line-height 20px
	padding 4px 12px
	background-linear-gradient(top, #19a6df, 0%, #0a4aac, 100%)
	font-weight bold
	color #fff
	cursor pointer
	vertical-align middle
	text-shadow 1px 1px 1px #444
	&:hover
		text-decoration none
	&:active
		position relative
		top 1px
	&.disabled
		background #19a6df
		box-shadow(none)
		cursor default
		text-shadow none
		&:active
			top 0
.boton-grande
	border-radius(6px)
	padding 9px 26px
	font-size 18px
.boton-naranja
	background-linear-gradient(top, #f0b13f, 0%, #ce411b, 100%)