!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
	// <![endif]
	head
		title PJS Template
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="js/modernizr-2.6.2.min.js")
	body
		.envoltura
			include header
			.cuerpo
				h1 Bienvenido(a)
				- for(i=0;i<5;i++)
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.
			include footer