header.header
	.arriba
		.logo-container
			a(href="./").logo
				img(src="img/logo.png",alt="LOGO")
	nav.menu
		ul
			li
				a(href="./") Inicio
			li
				a(href="listas.html") Listas
			li
				a(href="tablas.html") Tablas
			li
				a(href="formularios.html") Formularios
			li
				a(href="iconos.html") Iconos
